.navbar .navbar-brand .logo-text{
    text-transform: uppercase;
    color: #8d97ad;
    font-size: 15px;
    margin-bottom: 0;
    line-height: 30px;
}

.h3-navbar .navbar-brand {
    padding-bottom: 15px;
}

.navbar-brand img {
    height: 70px;
    transition: 1s;
}

