---
title: Events
layout: default
navigation_weight: 6
banner_title: 
banner_subtitle: 
banner_image: "/images/upcoming-missions.jpg"
---

{% include mini-banner.html title=page.banner_title subtitle=page.banner_subtitle image=page.banner_image %}

<div class="theme-cards spacer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="title font-medium editable">
                    Events
                </h2>
            </div>
        </div>
        <!-- Row  -->
        <div class="owl-carousel owl-theme tcards m-t-40">
            {% assign animations = "flip-left,flip-up,flip-right" | split: "," %}
            {% assign sorted = (site.events | sort: 'date') %}
            {% for event in sorted %}
                {% assign animationIndex = forloop.index0 | modulo: 3 %}
                <div class="item" data-aos="fade-up">
                    <div class="mission-card card card-shadow" data-aos="{{ animations[animationIndex] }}" data-aos-duration="1200">
                        <a href="{{ event.url }}"><img class="card-img-top" src="{{ event.banner_image }}" alt="{{ event.title }}" /></a>
                        <div class="card-body p-30">
                            <h5 class="font-bold">{{ event.title }}</h5>
                            <a href="{{ event.url }}" class="linking text-info font-medium m-t-10">Learn More<i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--<div class="theme-cards spacer bg-light">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-md-8 text-center">-->
<!--                <h2 class="title font-medium editable">-->
<!--                    Our Calendar-->
<!--                </h2>-->
<!--            </div>-->
<!--        </div>-->
        
<!--        <div class="row m-t-40">-->
<!--            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=healinghandsmission1%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FChicago" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no">-->
<!--            </iframe>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
