---
layout: default
banner_title: 
banner_subtitle: 
banner_image: "/images/dsc01939.jpg"
---

{% include mini-banner.html title=page.banner_title subtitle=page.banner_subtitle image=page.banner_image %}

<div class="bg-light spacer feature8">
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-6">
                <h3 class="editable">
                    Our Mission
                </h3>
                <p class="editable">
                    As we continue to grow as an organization, we try to accomplish something new each year, whether it's providing the community with more medical supplies or finding ways to provide our patients with continuing care. This is where we will keep you updated on our plans for upcoming trips. You can also check each trip's individual page to&nbsp; view all of the pictures and see what we've accomplished.<br /><br />If you or someone you know are interested in coming on our mission, donating medical supplies, or have any questions, send us an email at info@healinghandsmission.com.
                </p>
            </div>
            <!-- Column -->
            <div class="col-lg-6">
                <div class="p-20">
                    <img src="/images/dsc01939.jpg" alt="wrapkit" class="img-responsive img-shadow editable aos-init aos-animate" data-aos="flip-right" data-aos-duration="1200" />
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- Row -->
    </div>
</div>

<div class="theme-cards spacer bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title font-medium editable">Previous Missions</h2>
                <h6 class="subtitle editable">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="owl-carousel owl-theme tcards m-t-40">
            {% assign animations = "flip-left,flip-up,flip-right" | split: "," %}
            {% for mission in site.missions %}
                {% assign animationIndex = forloop.index0 | modulo: 3 %}
                {{ forloop.index0 }}
                <div class="item" data-aos="fade-up">
                    <div class="card card-shadow" data-aos="{{ animations[animationIndex] }}" data-aos-duration="1200">
                        <a href="{{ mission.url }}"><img class="card-img-top" src="{{ mission.banner_image }}" alt="{{ mission.title }}" /></a>
                        <div class="card-body p-30">
                            <h5 class="font-bold">{{ mission.title }}</h5>
                            <p class="m-t-20">{{ mission.excerpt }}</p>
                            <a href="{{ mission.url }}" class="linking text-info font-medium m-t-10">Learn More<i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>