---
title: Our Team
layout: default
navigation_weight: 3
banner_title: 
banner_subtitle: 
banner_image: "/images/our-team.jpg"
team_members:
- name: Graham Woodward MD
  title: President, Medical Director
- name: Melissa Baumgartner RN
  title: Secretary, Director of Nursing and Clinical Operations
- name: Julie Bird CPA
  title: Treasurer, Mission Accountant
- name: Claire Perkovich RN
  title: Director of Fundraising and Outreach
- name: Lisa Carani APN
  title: Director of Fundraising and Outreach
- name: Paul Carani
  title: Director of Logistics
- name: Susanna Marones
  title: Interpretation Services
- name: Rachel Baumgartner
  title: Director of Visual Communications, Web Designer
- name: Shannon Baumgartner
  title: Team Photographer
- name: Father Abel Carbajal Calles CMF
  title: Pastor of St. Antonio of Padua, Guatemala
- name: Zulma Chew
  title: Parish Medical Coordinator
- name: Hector Barrios Cleaves
  title: Director of Guatemalan Logistics, Translation
comittee_members:
- name: Claire Perkovich RN
- name: Lisa Carani APN
- name: Virginia Donis
- name: Chris Perkovich
partners:
- title: Baker Memorial Church
  subtitle: Women's Group
- title: Biaggi's
  subtitle: Algonquin
- title: Casciaro, Gregory and Kathleen
- title: Casciaro, Jean
- title: Central Dupage Hospital Medical Staff
- title: Fox Valley Franciscans
- title: Likwid Assets
- title: Starbucks
  subtitle: South Elgin
- title: State Street Jewelry Studio
- title: St. John Neumann Parish
- title: St. Michael's Catholic School
- title: St. Patrick Catholic School
- title: St. Patrick Parish
- title: St. Patrick Parish
  subtitle: Peace and Justice Committee
- title: St. Patrick Parish
  subtitle: Women at the Well
- title: Wilson Travel & Cruise
- title: Woodward, Charles and Karen
---

{% include mini-banner.html title=page.banner_title subtitle=page.banner_subtitle image=page.banner_image %}
<div class="spacer feature8 bg-light">
    <div class="container">
        <div class="row wrap-feature-26">
            <div class="col-md-12 align-self-center">
                <h2 class="title m-t-20 editable">Our Team</h2>
                
                <ul class="list-block m-b-30">
                    {% for member in page.team_members %}
                        <li> 
                            <span>{{ member.name }} - <span class="subtitle"> {{ member.title }}</span></span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row wrap-feature-26">
            <div class="col-md-6 align-self-center">
                <h2 class="title m-t-20 editable">Committee of Fundraising and Outreach</h2>
                <ul class="list-block m-b-30">
                {% for member in page.comittee_members %}
                    <li> <span>{{ member.name }}</span></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row wrap-feature-26">
            <div class="col-md-12"> <img src="/images/dsc08796.jpg" alt="" class="img-responsive editable"> </div>
        </div>
        <div class="row wrap-feature-26">
            <div class="col-md-12 align-self-center">
                <h2 class="title m-t-20 editable">Partners</h2>
                <div class="m-t-30 editable"> “It is only when we learn to cry with those who are suffering can we begin to understand and love them,” (Pope Francis). Jesus ministered to his people. He did not meet the people’s needs with statements of worldly compassion only stopping for a few moments to hand out money or material goods. Rather Christ took the time to listen and sympathize with those who were in need. Pope Francis calls us to action. In Evangeli Gaudium, Pope Francis calls us to respond to the gospel, to live it more fully and more deeply, to reach out to the poor and broken, to end injustice, and build peace. And to find JOY in it.

In our long journey to and from Guatemala, we need help from many hands. These are the people and organizations we'd like to thank for all the ways they help us. 
                </div>
                <ul class="list-block m-b-30">
                    {% for partner in page.partners %}
                    <li> 
                        <span>
                            {{ partner.title }}
                              {% if partner.subtitle %}
                                - <span class="subtitle"> {{ partner.subtitle }}</span>
                              {% endif %}
                        </span>
                    </li> 
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>