---
title: Our Team
layout: default
navigation_weight: 3
banner_title: 
banner_subtitle: 
banner_image: "/images/our-team.jpg"
team_members:
- name: Graham Woodward MD
  title: President, Medical Director
- name: Melissa Baumgartner RN
  title: Secretary, Director of Nursing and Clinical Operations
- name: Julie Bird CPA
  title: Treasurer, Mission Accountant
- name: Claire Perkovich RN
  title: Director of Fundraising and Outreach
- name: Lisa Carani APN
  title: Director of Fundraising and Outreach
- name: Paul Carani
  title: Director of Logistics
- name: Susanna Marones
  title: Interpretation Services
- name: Rachel Baumgartner
  title: Director of Visual Communications, Web Designer
- name: Shannon Baumgartner
  title: Team Photographer
- name: Father Abel Carbajal Calles CMF
  title: Pastor of St. Antonio of Padua, Guatemala
- name: Zulma Chew
  title: Parish Medical Coordinator
- name: Hector Barrios Cleaves
  title: Director of Guatemalan Logistics, Translation
comittee_members:
- name: Claire Perkovich RN
- name: Lisa Carani APN
- name: Virginia Donis
- name: Chris Perkovich
partners:
- Baker Memorial Church - Women's Group
- Biaggi's - Algonquin
- Casciaro, Gregory and Kathleen
- Casciaro, Jean&- Central Dupage Hospital Medical Staff
- Fox Valley Franciscans&- Likwid Assets
- Starbucks - South Elgin&- State Street Jewelry Studio
- St. John Neumann Parish&- St. Michael's Catholic School
- St. Patrick Catholic School
- St. Patrick Parish
- St. Patrick Parish - Peace and Justice Committee
- St. Patrick Parish - Women at the Well
- Wilson Travel &amp; Cruise
- Woodward, Charles and Karen
---

{% include mini-banner.html title=page.banner_title subtitle=page.banner_subtitle image=page.banner_image %}
<div class="spacer feature8">
    <div class="container">
        <div class="row wrap-feature-26">
            <div class="col-md-6 align-self-center">
                <div class="max-box">
                    <h2 class="title m-t-20">Our Team</h2>
                    
                    <ul class="list-block m-b-30">
                        {% for member in page.team_members %}
                            <li> <span>{{ member.name }} - {{ member.title }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-md-5 ml-auto "> <img src="" alt="wrapkit" class="img-responsive editable"> </div>
        </div>
        <div class="row wrap-feature-26 m-t-40 p-t-30">
            <div class="col-md-5"> <img src="" alt="wrapkit" class="img-responsive editable"> </div>
            <div class="col-md-6 ml-auto align-self-center">
                <h2 class="title m-t-20">Committee of Fundraising and Outreach</h2>
                <ul class="list-block m-b-30">
                {% for member in page.comittee_members %}
                    <li> <span>{{ member.name }}</span></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row wrap-feature-26">
            <div class="col-md-6 align-self-center">
                <div class="max-box">
                    <h2 class="title m-t-20">Partners</h2>
                    <p class="m-t-30 editable"></p>
                    <ul class="list-block m-b-30">
                        {% for partner in page.partners %}
                            <li> <span>{{ partner }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-md-5 ml-auto "> <img src="" alt="wrapkit" class="img-responsive editable"> </div>
        </div>
    </div>
</div>