<div class="bg-light">
    <section id="slider-sec" class="slider8">
        <div id="slider8" class="carousel bs-slider slide control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="7000">
            <ol class="carousel-indicators">
                <li data-target="#slider8" data-slide-to="0" class="active"></li>
                <li data-target="#slider8" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="images/slider/slide1.jpg" alt="We are Digital Agency" class="slide-image editable" data-animation="animated" />
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_left slide1">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-8" data-aos="fade-up" data-aos-duration="1200" data-animation="animated fadeInLeft">
                                    <div class="bg-white po-relative p-40">
                                        <div class="d-flex align-content-center">
                                            <label class="label label-inverse font-12 text-uppercase font-bold m-0" data-aos="fade-left" data-aos-duration="1200">Featured</label>
                                            <b data-aos="fade-right" data-aos-duration="1200" class="text-uppercase ml-auto font-12 font-bold">193 Days Left</b>
                                        </div>
                                        <h5 data-aos="flip-down" data-aos-duration="1200" class="title font-bold">Give small help to african moms who struggle</h5>
                                        <p class="d-none d-md-block">Phasellus in egestas libero, et congue lacus. Cras vel lacus nisi. Duis nulla metus, tincidunt.</p>
                                        <div class="row b-t m-t-30">
                                            <div class="col-6 b-r">
                                                <p class="text-uppercase font-13 m-b-0 m-t-15">Raised</p>
                                                <h3 class="text-success">$65,360</h3>
                                            </div>
                                            <div class="col-6">
                                                <p class="text-uppercase font-13 m-b-0 m-t-15">Goal</p>
                                                <h3>$124,500</h3>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <a class="btn btn-danger-gradiant btn-md btn-arrow m-t-20" href="#"> <span class="text-uppercase font-14 font-bold">Donate Now <i class="ti-arrow-right"></i></span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->
                <!-- Second Slide -->
                <div class="carousel-item">
                    <!-- Slide Background --><img src="images/why-guatemala.jpg" alt="Building Magical Apps" class="slide-image editable" data-animation="animated" />
                    <!-- Slide Text Layer -->
                    <div class="slide-text">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-10 col-lg-5">
                                    <h2 data-animation="animated fadeInLeft" class="title m-0 text-white font-bold text-uppercase">Bring smile for those childs who are in needs of that</h2>
                                    <a class="btn btn-danger-gradiant btn-md btn-arrow m-t-30" data-animation="animated fadeInUp" href="#"> <span class="text-uppercase font-14 font-bold">Donate Now <i class="ti-arrow-right"></i></span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->
            </div>
        </div>
        <!-- End Slider -->
    </section>
</div>