<div class="bg-light">
    <section>
        <div id="banner1" class="banner spacer" style="background-image:url(../assets/images/form-banners/banner1/banner-bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-5 align-self-center" data-aos="fade-right" data-aos-duration="1500">
                        <h2 class="title font-bold">We exist to end needless sufforing</h2>
                        <p class="m-t-40 m-b-30">To accomplish great things, we must not only act, but also dream; not only plan, but also believe.</p>
                        <div class="m-t-40">
                            <a class="btn text-white btn-md btn-arrow cc-active" data-animation="animated fadeInLeft" data-toggle="collapse" href="#"> <span>Ask for Question <i class="ti-arrow-right"></i></span> </a>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-6 align-self-center ml-auto" data-aos="fade-left" data-aos-duration="1500">
                        <img src="../assets/images/form-banners/banner1/banner-img.png" alt="We are Digital Agency" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>