<div class="static-slider6 bg-danger-gradiant">
    <div class="left-right-bg" style="background-image:url(images/sliders/static-slider/slider6/img2.png)">
        <div class="container">
            <!-- Row  -->
            <div class="row justify-content-center">
                <!-- Column -->
                <div class="col-md-8 align-self-center" data-aos="fade-right" data-aos-duration="1200">
                    <span class="badge badge-warning p-10">Money Making</span>
                    <h1 class="title text-white">Powerful Solution for People who believe in Quality and Ready to Rock!</h1>
                    <a class="btn btn-rounded btn-light btn-md btn-arrow m-t-20 m-r-10" href="">Request a Demo</a> <a class="btn btn-rounded btn-outline-light btn-md btn-arrow m-t-20" href="">Take a Tour</a>
                </div>
                <!-- Column -->
                <div class="col-md-8 text-center m-t-40 middle-image" data-aos="fade-up" data-aos-duration="1200">
                    <img src="../assets/images/sliders/static-slider/slider6/img1.jpg" class="video-img img-fluid rounded" alt="wrapkit" />
                </div>
            </div>
        </div>

    </div>
</div>