
<div class="blog-home2 spacer">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-md-8 text-center">
                <h2 class="title">News & Events</h2>
                <!--<h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>-->
            </div>
            <!-- Column -->
            <!-- Column -->
        </div>
        <div class="row m-t-40">
            {% assign animations = {"1": "flip-left", "2": "flip-up", "3": "flip-right" } %}
            {% for post in site.posts limit: 3 %}
                <div class="col-md-4">
                    <div class="card" data-aos="{{animations[forloop.index]}}" data-aos-duration="1200">
                        <img class="card-img-top" src="{{post.blog_image_path}}" alt="{{post.title}}">
                        <div class="date-pos bg-info-gradiant">{{ post.date | date: '%b' }}<span>{{ post.date | date: '%d' }}</span></div>
                        <h5 class="font-medium m-t-30">{{post.title}}</h5>
                        <p class="m-t-20">{{post.excerpt}}</p>
                        <a data-toggle="collapse" href="#" class="linking text-themecolor m-t-10">Learn More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>