
<div class="blog-home2 spacer bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="title">News & Events</h2>
            </div>
        </div>
        <div class="row m-t-40">
            {% assign animations = "flip-left,flip-up,flip-right" | split: "," %}
            {% for post in site.posts limit: 3 %}
                <div class="col-md-4">
                    <div class="card card-shadow" data-aos="{{ animations[forloop.index0] }}" data-aos-duration="1200">
                        <div class="image-container">
                            <img class="card-img-top" src="{{post.blog_image_path}}" alt="{{post.title}}">
                        </div>
                        <div class="card-body p-30">
                            <div class="date-pos bg-info-gradiant">{{ post.date | date: '%b' }}<span>{{ post.date | date: '%d' }}</span></div>
                            <h5 class="font-bold m-t-30">{{ post.title }}</h5>
                            <p class="m-t-20">{{ post.excerpt | truncate: 120 }}</p>
                            <a href="{{ post.url }}" class="linking text-themecolor m-t-10 font-medium">Learn More <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>