<!--<div class="spacer c2a10" style="background-image:url(https://wrappixel.com/demos/ui-kit/wrapkit/assets/images/c2a/5.jpg)">-->
<!--    <div class="container">-->
        <!-- Row -->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-md-5 text-center both-space">-->
<!--                <div class="card" data-aos="flip-left" data-aos-duration="1200">-->
<!--                    <div class="card-body">-->
<!--                        <div class="text-box">-->
<!--                            <h3 class="title">We can make a difference</h3>-->
<!--                            <h6 class="subtitle">To provide medical care to developing countries requires many hands. Medicine, supplies, and translators all cost money. We've got many successes under our belt, but we need more help, and that's where you come in. There's so much you can do to help out!</h6> <a class="btn btn-info-gradiant btn-md btn-arrow m-t-20" href="#"><span>Donate now<i class="ti-arrow-right"></i></span></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="spacer ">
    <div class="container feature30">
        <div class="row">
            <div class="col-lg-10"><img src="images/dsc01591.jpg" class="rounded img-responsive" alt="wrappixel" /></div>
            <div class="col-lg-5 col-md-7 text-center wrap-feature30-box" data-aos="fade-left" data-aos-duration="1800" data-aos-easing="linear">
                <div class="card card-shadow">
                    <div class="card-body">
                        <div class="p-20">
                            <h3 class="title">We can make a difference</h3>
                            <p>To provide medical care to developing countries requires many hands. Medicine, supplies, and translators all cost money. We've got many successes under our belt, but we need more help, and that's where you come in. There's so much you can do to help out!</p>
                            <a class="btn btn-info-gradiant btn-md btn-arrow m-t-20" data-toggle="collapse" href="#f30"><span>Donate Today <i class="ti-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>