<div class="spacer ">
    <div class="container feature30">
        <div class="row">
            <div class="col-lg-10"><img class="rounded img-responsive editable" alt="wrappixel" src="/uploads/fruit.jpg" width="1023" height="601" /></div>
            <div class="col-lg-5 col-md-7 text-center wrap-feature30-box" data-aos="fade-left" data-aos-duration="1800" data-aos-easing="linear">
                <div class="card card-shadow">
                    <div class="card-body">
                        <div class="p-20">
                            <h3 class="title">We can make a difference</h3>
                            <p>To provide medical care to developing countries requires many hands. Medicine, supplies, and translators all cost money. We've got many successes under our belt, but we need more help, and that's where you come in. There's so much you can do to help out!</p>
                            <a class="btn btn-info-gradiant btn-md btn-arrow m-t-20" data-toggle="collapse" href="#f30"><span>Donate now<i class="ti-arrow-right"></i></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>