<div class="spacer c2a10" style="background-image:url(https://wrappixel.com/demos/ui-kit/wrapkit/assets/images/c2a/5.jpg)">
    <div class="container">
        <!-- Row -->
        <div class="row justify-content-center">
            <div class="col-md-5 text-center both-space">
                <div class="card" data-aos="flip-left" data-aos-duration="1200">
                    <div class="card-body">
                        <div class="text-box">
                            <h3 class="title">We can make a difference</h3>
                            <h6 class="subtitle">To provide medical care to developing countries requires many hands. Medicine, supplies, and translators all cost money. We've got many successes under our belt, but we need more help, and that's where you come in. There's so much you can do to help out!</h6> <a class="btn btn-info-gradiant btn-md btn-arrow m-t-20" href="#"><span>Donate now<i class="ti-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>