<div class="footer4 spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Address</h5>
                <p>P.O. Box 864, St. Charles, IL 60174</p>
            </div>
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Email</h5>
                <p><a href="#" class="link">info@healinghandsmission.com</a></p>
            </div>
            <div class="col-lg-3 col-md-6 m-b-30">
                <!--<h5 class="m-b-20">Phone</h5>-->
                <!--<p>Reception :  +205 123 4567 <br/>Office :  +207 235 7890</p>-->
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="m-b-20">Social</h5>
                <div class="round-social light">
                    <a href="#" class="link"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>

        <div class="f4-bottom-bar">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg h1-nav">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header1" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ti-menu"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="header1">
                          <span class="hidden-lg-down">Healing Hands Mission is a 501(c)(3) tax-exempt organization.</span>
                          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                          <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Our Missions</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Our Team</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">News and Events</a></li>
                        </ul>
                      </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>