<footer class="footer6 bg-inverse spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="d-flex no-block m-b-10 text-white">
                    <div class="display-7 m-r-20 "><i class="icon-Map-Marker"></i></div>
                    <div class="info">
                        <span class="db m-t-5">{{site.address}}</span>
                   </div>
               </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex no-block m-b-10 text-white">
                    <div class="display-7 m-r-20"><i class="icon-Mail"></i></div>
                    <div class="info">
                        <span class="db m-t-5">{{site.email}}</span>
                   </div>
               </div>
            </div>
            <div class="col-lg-4 ml-auto">
                <div class="ml-auto round-social dark">
                        <a href="" class=""><i class="fa fa-facebook"></i></a>
                    </div>
            </div>
            <div class="col-md-12 b-t m-t-40">
                <div class="p-t-20">Copyright 2018. All Rights Reserved by Healing Hands Mission.</div>
            </div>
        </div>
    </div>
</footer>