<!--<div class="footer4 spacer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-3 col-md-6 m-b-30">-->
<!--                <h5 class="m-b-20">Address</h5>-->
<!--                <p>{{site.address}}</p>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6 m-b-30">-->
<!--                <h5 class="m-b-20">Email</h5>-->
<!--                <p><a href="#" class="link">{{site.email}}</a></p>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6 m-b-30">-->
                <!--<h5 class="m-b-20">Phone</h5>-->
                <!--<p>Reception :  +205 123 4567 <br/>Office :  +207 235 7890</p>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <h5 class="m-b-20">Social</h5>-->
<!--                <div class="round-social light">-->
<!--                    <a href="#" class="link"><i class="fa fa-facebook"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    <!-- Row  -->
<!--    <div class="f1-bottom-bar">-->
<!--        <div class="container">-->
<!--        <div class="d-flex">-->
<!--            <div class="m-t-10 m-b-10">Healing Hands Mission is a 501(c)(3) tax-exempt organization.</div>-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
<!--</div>-->

<footer class="footer6 bg-inverse spacer">
    <div class="container">
        <div class="row">
            <!-- coluumn -->
            <div class="col-lg-4">
                <div class="d-flex no-block m-b-10 text-white">
                    <div class="display-7 m-r-20 "><i class="icon-Map-2"></i></div>
                    <div class="info">
                        <span class="db m-t-5">1{{site.address}}</span>
                   </div>
               </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex no-block m-b-10">
                    <div class="display-7 m-r-20 text-white"><i class="icon-Mail"></i></div>
                    <div class="info">
                        <a href="mailto:info@wrappixel.com" class="db white-link m-t-5">{{site.email}}</a>
                   </div>
               </div>
            </div>
            <!-- coluumn -->
            <!-- coluumn -->
            <div class="col-lg-4 ml-auto">
                <div class="ml-auto round-social dark">
                        <a href="#" class=""><i class="fa fa-facebook"></i></a>
                    </div>
            </div>
            <div class="col-md-12 b-t m-t-40">
                <div class="p-t-20">Copyright 2018. All Rights Reserved by Healing Hands Mission.</div>
            </div>
        </div>
    </div>
</footer>