<div class="topbar">
    <div class="header4 po-relative">
        <div class="h4-topbar">
            <div class="container">
                <nav class="navbar navbar-expand-lg h4-nav">
                    <a class="hidden-lg-up">navigation</a>
                    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#header4" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ti-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="header4">
                        <div class="hover-dropdown">
                            <ul class="navbar-nav">
                                {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
                                {% for p in navigation_pages %}
                                    {{p.navigation_weight}}
                                  {% if p.path contains 'page'%}
                                  {% else if p.navigation_weight != 0 and p.path contains 'page'%}
                                    <li class="nav-item {% if p.url == page.url %}active{% endif %}"> <a class="nav-link" href="{{p.url}}">{{p.title}}</a></li>
                                  {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="h4-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-lg h4-nav-bar">
                    <a class="navbar-brand">
                        <img src="/images/header-logo.png" class="logo" alt="logo"/>
                        <!--<img src="/images/logo_text.png" alt="Healing Hands Mission"/>-->
                        <!--<span style="-->
                        <!--    color: #8C6CCC;-->
                        <!--    vertical-align: middle;-->
                        <!--    display: inline-block;-->
                        <!--    margin-left: 10px;-->
                        <!--"><span style="-->
                        <!--    display: block;-->
                        <!--    font-family: Nunito, sans-serif;-->
                        <!--    width: 132px;-->
                        <!--    line-height: 16px;-->
                        <!--    font-weight: bold;-->
                        <!--"> Healing Hands</span><span style="-->
                        <!--    margin-left: -2px;-->
                        <!--    display: block;-->
                        <!--    font-family: Nunito, sans-serif;-->
                        <!--    font-size: 40px;-->
                        <!--    /* top: -6px; */-->
                        <!--    line-height: 35px;-->
                        <!--    left: 6px;-->
                        <!--    font-weight: 100;-->
                        <!--    /* color: #8C78BB; */-->
                        <!--    /* letter-spacing: 3px; */-->
                        <!--">Mission</span></span>-->
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h4-info" aria-controls="h4-info" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sl-icon-options-vertical"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="h4-info">
                        <ul class="navbar-nav ml-auto text-uppercase">
                            <li class="nav-item">
                                <a class="nav-link b-r">
                                    <div class="display-6 m-r-10"><i class="icon-Mail"></i></div>
                                    <div><small>Email us at</small>
                                        <h6 class="font-bold font-13">{{site.email}}</h6></div>
                                </a>
                            </li>
                            <li class="nav-item donate-btn"><a href="{{ site.donation_page }}" target="_blank" class="btn btn-outline-danger">Donate now </a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>