<div class="banner-innerpage" style="background-image:url({{ include.image }})">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center ">
            <!-- Column -->
            <div class="col-md-6 align-self-center text-center aos-init aos-animate" data-aos="fade-down" data-aos-duration="1200">
                <h1 class="title">{{ include.title }}</h1>
                <h6 class="subtitle op-8">{{ include.subtitle }}</h6>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>