<div class="spacer feature14 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="m-t-20 m-b-30 editable">Our Vision</h2>
                <p class="editable">Healing Hands Mission is a not for profit corporation providing medical assistance to those who need it most.</p>
                <p class="editable">Our current mission, every June, reaches out to a small region in the Eastern portion of Guatemala.</p>
            </div>
            <div class="col-lg-4 wrap-feature14-box">
                <div data-aos="flip-left" data-aos-duration="1200">
                    <img class="rounded img-responsive editable" src="images/dsc08822.jpg" alt="Medical assistance" />
                    <div class="m-t-30">
                        <h5 class="font-medium editable">Medical Assistance</h5>
                        <p class="m-t-20 editable">We aim to bring compassion and care without judgment.</p>
                        <a href="/our-missions" class="linking">Learn More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-4 wrap-feature14-box">
                <div data-aos="flip-up" data-aos-duration="1200">
                    <img class="rounded img-responsive editable" src="images/dsc08843.jpg" alt="Medical team" />
                    <div class="m-t-30">
                        <h5 class="font-medium editable">Volunteer</h5>
                        <p class="m-t-20 editable">With your help and the help of all those who volunteer, we hope to expand and grow our mission, reaching more of those in need.</p>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>