<!--<div class="spacer feature31 wrap-feature31-box">-->
    <!-- Row  -->
<!--    <div class="row">-->
<!--        <div class="container">-->
<!--            <div class="col-lg-6">-->
<!--                <h2 class="title text-uppercase">Our Vision</h2>-->
<!--                <p class="op-8">Healing Hands Mission is a not for profit corporation providing medical assistance to those who need it most. Our current mission, every June, reaches out to a small region in the Eastern portion of Guatemala. We aim to bring compassion and care without judgment. With your help and the help of all those who volunteer, we hope to expand and grow our mission, reaching more of those in need.</p>-->
<!--                <div class="row m-t-30">-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="card card-shadow">-->
<!--                            <div class="card-body text-center text-uppercase"> <i class="icon-Medical-Sign display-5 text-success"></i>-->
<!--                                <h6 class="m-t-10 font-medium">Medicine</h6>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="card card-shadow">-->
<!--                            <div class="card-body text-center text-uppercase"> <i class="icon-Happy display-5 text-success"></i>-->
<!--                                <h6 class="m-t-10 font-medium">Compassion</h6>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="card card-shadow">-->
<!--                            <div class="card-body text-center text-uppercase"> <i class="icon-Network display-5 text-success"></i>-->
<!--                                <h6 class="m-t-10 font-medium">Volunteer</h6>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-6 right-image"> <img src="images/copydsc09250edit.jpg" class="half-radius editable" alt="wrappixel" data-aos="fade-left" data-aos-duration="3000" data-aos-offset="500" /> </div>-->
        <!-- Column -->
<!--    </div>-->
<!--</div>-->

<div class="bg-light spacer feature41">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
                <h2 class="title">Our Vission</h2>
                <h6 class="subtitle">Healing Hands Mission is a not for profit corporation providing medical assistance to those who need it most</h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="row m-t-40 wrap-feature41-box">
            <!-- Column -->
            <div class="col-md-4">
                <ul class="nav vtab f41-tab">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">
                            <div class="display-5 t-icon"><i class="icon-Structure"></i></div>
                            <div>
                                <h5 class="m-b-0">Guatemala</h5>
                                <h6 class="subtitle">You can relay on our amazing features list.</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">
                            <div class="display-5 t-icon"><i class="icon-Medical-sign"></i></div>
                            <div>
                                <h5 class="m-b-0">Medicine</h5>
                                <h6 class="subtitle">You can relay on our amazing features list.</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="dropdown1-tab" data-toggle="tab" href="#dropdown1" role="tab" aria-controls="dropdown1">
                            <div class="display-5 t-icon"><i class="icon-Happy"></i></div>
                            <div>
                                <h5 class="m-b-0">Compassion</h5>
                                <h6 class="subtitle">You can relay on our amazing features list.</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ssd-tab" data-toggle="tab" href="#ssd" role="tab" aria-controls="ssd">
                            <div class="display-5 t-icon"><i class="icon-Network"></i></div>
                            <div>
                                <h5 class="m-b-0">Volunteer</h5>
                                <h6 class="subtitle">You can relay on our amazing features list.</h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-7 ml-auto">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"> <img src="../assets/images/features/feature41/img1.jpg" alt="wrapkit" class="rounded img-fluid" />
                        <p class="m-t-40">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> <img src="../assets/images/features/feature41/img2.jpg" alt="wrapkit" class="rounded img-fluid" />
                        <p class="m-t-40">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> </div>
                    <div class="tab-pane fade" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab"> <img src="../assets/images/features/feature41/img3.jpg" alt="wrapkit" class="rounded img-fluid" />
                        <p class="m-t-40">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> </div>
                    <div class="tab-pane fade" id="ssd" role="tabpanel" aria-labelledby="ssd-tab"> <img src="../assets/images/features/feature41/img4.jpg" alt="wrapkit" class="rounded img-fluid" />
                        <p class="m-t-40">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>