<div class="spacer feature12">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="m-b-30 m-t-20 editable">Why Guetemala</h2>
                <h4 class="text-muted font-light editable">Health indicators reveal that Guatemala has the most significant differences among Latin American countries between the various population groups with the greatest disparity and challenges among the indigenous, the rural, and the poor.</h4>
                <div class="row">
                    <div class="col-md-12 m-t-30">
                        <h5 class="font-medium editable">Access to Healthcare</h5>
                        <p class="editable">Guatemala has the highest rate of private expenditure in order to access healthcare than any other Latin American country. This statistic is reflected in the fact that poor, rural Guatemalans must pay cash in order to receive the most basic of health care needs.</p>
                    </div>
                    <div class="col-md-6 m-t-30">
                        <h5 class="font-medium editable">50% Poverty</h5>
                        <p>50% of the population faces poverty and chronic malnutrition among the indigenous groups is over 66%.</p>
                    </div>
                    <div class="col-md-6 m-t-30">
                        <h5 class="font-medium editable">Maternal mortality</h5>
                        <p class="editable">Maternal mortality among the indigenous population is 163/100,000 live births (LB), whereas among the non-indigenous population it is 78/100,000 LB.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row wrap-feature-12">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12"><img class="rounded img-shadow img-responsive editable" alt="Guetemala child" width="287" height="281" src="/uploads/copydsc09250edit.jpg" /></div>
                            <div class="col-md-12"><img class="rounded img-shadow img-responsive editable" alt="Guetemala mother and child" src="/uploads/dsc09317.jpg" width="287" height="281" /></div>
                        </div>
                    </div>
                    <div class="col-md-6 uneven-box">
                        <div class="row">
                            <div class="col-md-12"><img class="rounded img-shadow img-responsive editable" alt="Guetemala shoes" width="287" height="281" src="/uploads/dsc02015.jpg" /></div>
                            <div class="col-md-12"><img class="rounded img-shadow img-responsive editable" alt="Guetemala boy" src="/uploads/dsc08927.jpg" width="287" height="281" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>