<div class="spacer feature12">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="m-b-30 m-t-20">Why Guetemala</h2>
                <h4 class="text-muted font-light">Health indicators reveal that Guatemala has the most significant differences, among Latin American countries, between the indigenous, the rural, and the poor.</h4>
                <div class="row">
                    <div class="col-md-6 m-t-30">
                        <h5 class="font-medium">50% Poverty</h5>
                        <p>50% of the population faces poverty. Chronic malnutrition among the indigenous groups is over 66%</p>
                    </div>
                    <div class="col-md-6 m-t-30">
                        <h5 class="font-medium">Maternal mortality</h5>
                        <p>You can relay on our amazing features list and also our customer services will.</p>
                    </div>
                    <div class="col-md-6 m-t-30">
                        <h5 class="font-medium">Access to Healthcare</h5>
                        <p>You can relay on our amazing features list and also our customer services will.</p>
                    </div>
                    <div class="col-md-6 m-t-30">
                        <h5 class="font-medium">100% Satisfection</h5>
                        <p>You can relay on our amazing features list and also our customer services will.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row wrap-feature-12">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12"><img class="rounded img-shadow img-responsive editable" alt="wrapkit" src="/uploads/dsc09378.jpg" width="287" height="281" /></div>
                            <div class="col-md-12"><img src="images/features/feature12/img2.jpg" class="rounded img-shadow img-responsive editable" alt="wrapkit" /></div>
                        </div>
                    </div>
                    <div class="col-md-6 uneven-box">
                        <div class="row">
                            <div class="col-md-12"><img src="images/features/feature12/img3.jpg" class="rounded img-shadow img-responsive editable" alt="wrapkit" /></div>
                            <div class="col-md-12"><img src="images/features/feature12/img4.jpg" class="rounded img-shadow img-responsive editable" alt="wrapkit" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="m-t-20 collapse" id="f12">
                    <div class="card card-body card-shadow">
                        <ul class="nav nav-tabs" id="myTab1" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="html-tab1" data-toggle="tab" href="#html2" role="tab" aria-controls="html" aria-expanded="true">HTML</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="css-tab1" data-toggle="tab" href="#css2" role="tab" aria-controls="css">CSS</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent1">
                            <div class="tab-pane fade show active" id="html2" role="tabpanel" aria-labelledby="html-tab1">
                                <pre class="pre-scroll">
                                <code class="language-html">
                                    &lt;div class=&quot;spacer feature12&quot;&gt;
                                        &lt;div class=&quot;container&quot;&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-lg-6&quot;&gt;
                                                    &lt;span class=&quot;label label-info label-rounded&quot;&gt;Feature 12&lt;/span&gt;
                                                    &lt;h2 class=&quot;m-b-30 m-t-20&quot;&gt;Awesome with Extra Ordinary Flexibility &nbsp; Features&lt;/h2&gt;
                                                    &lt;h4 class=&quot;text-muted font-light&quot;&gt;You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time&lt;/h4&gt;
                                                    &lt;div class=&quot;row&quot;&gt;
                                                        &lt;div class=&quot;col-md-6 m-t-30&quot;&gt;
                                                            &lt;h5 class=&quot;font-medium&quot;&gt;Instant Solutions&lt;/h5&gt;
                                                            &lt;p&gt;You can relay on our amazing features list and also our customer services will.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-md-6 m-t-30&quot;&gt;
                                                            &lt;h5 class=&quot;font-medium&quot;&gt;Retargeting Market&lt;/h5&gt;
                                                            &lt;p&gt;You can relay on our amazing features list and also our customer services will.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-md-6 m-t-30&quot;&gt;
                                                            &lt;h5 class=&quot;font-medium&quot;&gt;Fruitful Results&lt;/h5&gt;
                                                            &lt;p&gt;You can relay on our amazing features list and also our customer services will.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-md-6 m-t-30&quot;&gt;
                                                            &lt;h5 class=&quot;font-medium&quot;&gt;100% Satisfection&lt;/h5&gt;
                                                            &lt;p&gt;You can relay on our amazing features list and also our customer services will.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-lg-12 m-t-30 m-b-30&quot;&gt;
                                                            &lt;a class=&quot;btn btn-info-gradiant btn-md btn-arrow&quot; data-toggle=&quot;collapse&quot; href=&quot;#f12&quot;&gt;&lt;span&gt;View Feature12 code &lt;i class=&quot;ti-arrow-right&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;/a&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-lg-6&quot;&gt;
                                                    &lt;div class=&quot;row wrap-feature-12&quot;&gt;
                                                        &lt;div class=&quot;col-md-6&quot;&gt;
                                                            &lt;div class=&quot;row&quot;&gt;
                                                                &lt;div class=&quot;col-md-12&quot;&gt;&lt;img src=&quot;../assets/images/features/features12/img1.jpg&quot; class=&quot;rounded img-shadow img-responsive&quot; alt=&quot;wrapkit&quot; /&gt;&lt;/div&gt;
                                                                &lt;div class=&quot;col-md-12&quot;&gt;&lt;img src=&quot;../assets/images/features/features12/img2.jpg&quot; class=&quot;rounded img-shadow img-responsive&quot; alt=&quot;wrapkit&quot; /&gt;&lt;/div&gt;
                                                            &lt;/div&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-md-6 uneven-box&quot;&gt;
                                                            &lt;div class=&quot;row&quot;&gt;
                                                                &lt;div class=&quot;col-md-12&quot;&gt;&lt;img src=&quot;../assets/images/features/features12/img3.jpg&quot; class=&quot;rounded img-shadow img-responsive&quot; alt=&quot;wrapkit&quot; /&gt;&lt;/div&gt;
                                                                &lt;div class=&quot;col-md-12&quot;&gt;&lt;img src=&quot;../assets/images/features/features12/img4.jpg&quot; class=&quot;rounded img-shadow img-responsive&quot; alt=&quot;wrapkit&quot; /&gt;&lt;/div&gt;
                                                            &lt;/div&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                </code>
                            </pre>
                            </div>
                            <div class="tab-pane fade" id="css2" role="tabpanel" aria-labelledby="css-tab">
                                <pre class="pre-scroll">
                                <code class="language-css">
                                    .wrap-feature-12 {
                                      position: relative;
                                    }

                                    .wrap-feature-12 [class*=col-md-12] {
                                      margin-bottom: 30px;
                                      -webkit-transition: 0.2s ease-in;
                                      -o-transition: 0.2s ease-in;
                                      transition: 0.2s ease-in;
                                    }

                                    .wrap-feature-12 [class*=col-md-12]:hover {
                                      -webkit-transform: scale(1.1);
                                      -ms-transform: scale(1.1);
                                      transform: scale(1.1);
                                    }

                                    .wrap-feature-12 .uneven-box {
                                      margin-top: 100px;
                                    }
                                </code>
                            </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>