---
layout: default
---

<div class="spacer">
    <div class="container">
    <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-md-8">

                {% for post in paginator.posts %}
                    <div class="mini-spacer">
                        <a href="#"><img src="../assets/images/innerpage/blog1.jpg" alt="wrapkit" class="img-fluid"/></a>
                        <ul class="text-uppercase m-t-40 list-inline font-13 font-medium">
                            <li><a href="#">John Deo</a></li>
                            <li><a href="#">NOV 08, 2018 </a></li>
                            <li><a href="#" class="text-info">NEWS</a></li>
                        </ul>
                        <h2 class="title font-light"><a href="#" class="link">Wrapkit is about to release and we are really very excited about it</a></h2>
                        <p class="m-t-30 m-b-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec facilisis nullano volutpat justo. Nulla tempus ultricies feugiat. Duis magna risus, luctus id urna dapibus condimentum dui. Maecenas tempor non ex eu vehicula. Sed sit placerat velit,</p>
                        <a href="#" class="font-13">CONTINUE READING</a>
                    </div>
                    <!-- Blog  -->
                    <hr class="op-5" />
                {% endfor %}
                <div class="mini-spacer">
                    <div class="d-flex no-block font-13">
                      {% if paginator.previous_page %}
                        <a href="#" class="link font-medium"><i class="ti-arrow-left m-r-10"></i> PREVIOUS</a>
                      {% endif %}
                      {% if paginator.next_page %}
                        <a href="#" class="link ml-auto font-medium"> NEXT <i class="ti-arrow-right m-l-10 "></i></a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </div>
    <!-- Row  -->
    </div>
</div>