---
layout: default
---

<div class="spacer bg-light">
    <div class="container">
    <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% for post in paginator.posts %}
                    <div class="mini-spacer">
                        <a href="#"><img src="{{post.blog_image_path}}" alt="{{post.title}}" class="img-fluid"/></a>
                        <ul class="text-uppercase m-t-40 list-inline font-13 font-medium">
                            <li><a href="#">{{ post.date | date: "%B %-d, %Y"}}</a></li>
                        </ul>
                        <h2 class="title font-light"><a href="#" class="link">{{post.title}}</a></h2>
                        <p class="m-t-30 m-b-30">{{ post.excerpt }}</p>
                        <a href="#" class="font-13">Read More</a>
                    </div>
                    <!-- Blog  -->
                    <hr class="op-5" />
                {% endfor %}
                <div class="mini-spacer">
                    <div class="d-flex no-block font-13">
                      {% if paginator.previous_page %}
                        <a href="#" class="link font-medium"><i class="ti-arrow-left m-r-10"></i>PREVIOUS</a>
                      {% endif %}
                      {% if paginator.next_page %}
                        <a href="#" class="link ml-auto font-medium">NEXT <i class="ti-arrow-right m-l-10 "></i></a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </div>
    <!-- Row  -->
    </div>
</div>