---
layout: default
---

{% include mini-banner.html title=page.title subtitle=page.banner_subtitle image=page.banner_image %}

{% for mission in site.missions   %}
    {% if mission.title == page.title %}
        {% unless forloop.first %}
            {% assign previous_mission = prev %}
        {% endunless %}
        {% unless forloop.last %}
            {{ "Test" }}
            {% assign next_mission = missions[forloop.index] %}
        {% endunless %}
    {% endif %}
  {% assign prev = mission %}
{% endfor %}

<div class="portfolio4 spacer up" id="work">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h6 class="subtitle">{{ page.content }}</h6>
            </div>
        </div>
        
        <div class="mini-spacer">
            <div class="d-flex no-block font-13">
                
                {% if previous_mission %}
                    <a href="{{ previous_mission.url }}" class="link font-medium"><i class="ti-arrow-left m-r-10"></i>{{ previous_mission.title }}</a>
                {% endif %}
                {% if next_mission %}
                    <a href="{{ next_mission.url }}" class="link ml-auto font-medium"> {{ next_mission.title }} <i class="ti-arrow-right m-l-10 "></i></a>
                {% endif %}
            </div>
        </div>
        <!-- Row  -->
        <div class="row m-t-40 popup-gallery portfolio-box4">
            <!-- Column --> 
            {% for image in site.static_files %}
                {% if image.path contains page.title %}
                    <div class="col-lg-4 col-md-6 filter">
                        <div class="card">
                            <a href="{{ image.path }}" class="img-ho" title="">
                                <img class="card-img-top" src="{{ image.path }}" alt="{{ image.path }}">
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>