---
layout: default
---

<!--{% include mini-banner.html image="/images/news-events.jpg" %}-->

<div class="portfolio4 bg-light">
    <div class="container">
        <div class="mini-spacer">
                        
              {% if page.blog_image_path %}
                    <img src="{{ page.blog_image_path }}" alt="{{page.title}}" class="img-fluid w-100"/>
              {% endif %}
            <h2 class="title font-light">{{ page.title }}</h2>
            <p class="m-t-30 m-b-30">{{ page.content }}</p>
        </div>
    </div>
</div>